<div>
	<h4 class="panel-title">Add Skills</h4>
	<div ng-init="getProject()">
		<form ><!-- ng-submit="updateSkillsEmployee()"> -->
			<div ng-init="getSkills()" class="list" ng-app="myApp" ng-controller="SkillsController">
				<table class="table">
					<tr><th>Check</th><th>Name</th><th>Level</th><th>Category</th></tr>
					<tr ng-repeat="skill in skills">
					<td><input type="checkbox"  name="skill-check" value="{{skill.id}}" id="{{skill.id}}" ng-model="selectedskills[skill.id]" ng-change="stateChanged2(skill.id)"/></td>
					<!-- <td><input type="checkbox"  ng-model="modelContainer[$skill].checked"     /></td> -->
					<td >{{skill.id}}</td>
						<td>{{skill.name}}</td>
						<td>{{skill.level}}</td>
						<td>{{skill.category_Id}}</td>	 
					</tr>
					<tr><td><button href="javascript:;" data-ng-click="updateSkillsProject()">Submit</button>
					<td><button href="/#!/project/details/{{project.id}}">Cancel</button></td></tr>
				</table>
			</div>
		</form>
	</div>
</div>